In [2]:
!pip install fastparquet

Requirement already satisfied: fastparquet in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (2023.10.1)
Requirement already satisfied: pandas>=1.5.0 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (2.1.1)
Requirement already satisfied: numpy>=1.20.3 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (1.26.1)
Requirement already satisfied: cramjam>=2.3 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (2.7.0)
Requirement already satisfied: packaging in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (21.3)
Requirement already satisfied: fsspec in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from fastparquet) (2022.2.0)
Requirement already satisfied: pytz>=2020.1 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2021.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/nguyenhuyhai/opt/anaconda3/lib/python3.9/site-packages (from packaging->fastparquet) (3.0.4)

In [3]:
import pandas as pd
import json

In [4]:
# df1 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction_100000.csv")
# df2 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction_200000.csv")
# df3 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction_300000.csv")
# df4 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction_400000.csv")
# df5 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction_500000.csv")

In [5]:
transfer_fre = pd.read_json("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/prep_data/Transfer Data (Processed)/transfer_frequency.json")
transfer_info = pd.read_json("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/prep_data/Transfer Data (Processed)/transfer_info.json")
transfer_interact = pd.read_json("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/prep_data/Transfer Data (Processed)/transfer_interact_info.json")

In [6]:
transfer_fre

,id,user,block_timestamp_list
0,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,"[1695265151, 1694437151, 1694447951, 169444929..."
1,0x1_0x00000000000124d994209fbb955e0217b5c2eca1,0x00000000000124d994209fbb955e0217b5c2eca1,"[1693617395, 1697677991, 1694439443, 169444322..."
2,0x1_0x000000000002e33d9a86567c6dfe6d92f6777d1e,0x000000000002e33d9a86567c6dfe6d92f6777d1e,"[1700304239, 1700304059, 1695373895, 1694325275]"
3,0x1_0x000000000004d7463d0f9c77383600bc82d612f5,0x000000000004d7463d0f9c77383600bc82d612f5,"[1694234855, 1694401259]"
4,0x1_0x00000000001adc2c0b202d0f72ad9d50f0675296,0x00000000001adc2c0b202d0f72ad9d50f0675296,[1693891727]
...,...,...,...
146446,0x1_0xffeb7f611e9651be6e72c889cd94e65a1f8752a8,0xffeb7f611e9651be6e72c889cd94e65a1f8752a8,"[1694217383, 1699764035]"
146447,0x1_0xfff6db7d82ac4ed12ebb7f017bdd87cd86d447b6,0xfff6db7d82ac4ed12ebb7f017bdd87cd86d447b6,[1697394611]
146448,0x1_0xfffc6737308178ed98350d702059ba8c5fa09c03,0xfffc6737308178ed98350d702059ba8c5fa09c03,"[1694710571, 1694710667, 1694735507, 169473580..."
146449,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,"[1698183323, 1698183455, 1698183575, 169818363..."
146450,0x1_0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,"[1699552439, 1699553771]"

In [9]:
# Define a mapping dictionary
mapped_transfer = {'transfer_event': 'TRANSFER_EVENT'}
mapped_vol = {'sending_volume':'sending','receiving_volume':'receiving'}

transfer_info['event_type'] = transfer_info['event_type'].map(mapped_transfer)
transfer_info['volume_type'] = transfer_info['volume_type'].map(mapped_vol)

In [10]:
transfer_info

,id,user,asset,amount,event_type,volume_type
0,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x42476f744292107e34519f9c357927074ea3f75d,4271.000000,TRANSFER_EVENT,sending
1,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x36c748cbab4da84aaadf93da696ae0c02cb4be4f,1.400000,TRANSFER_EVENT,receiving
2,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x42476f744292107e34519f9c357927074ea3f75d,4271.000000,TRANSFER_EVENT,receiving
3,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x65281b6d0402095d66f531268b4662524040fdfc,826.150000,TRANSFER_EVENT,receiving
4,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0xa3e4b28bcc63e549886d642b2bf77ebbdfaba91b,1.400000,TRANSFER_EVENT,receiving
...,...,...,...,...,...,...
1383425,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,0x3845badade8e6dff049820680d1f14bd3903a5d0,132.219279,TRANSFER_EVENT,sending
1383426,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,0xd1d2eb1b1e90b638588728b4130137d262c87cae,544.936199,TRANSFER_EVENT,sending
1383427,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c,61.582279,TRANSFER_EVENT,sending
1383428,0x1_0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0x3845badade8e6dff049820680d1f14bd3903a5d0,600.000000,TRANSFER_EVENT,sending
1383429,0x1_0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0x4d224452801aced8b2f0aebe155379bb5d594381,306.802425,TRANSFER_EVENT,sending

In [5]:
transfer_interact

,user,other_user,count
0,0x00000000000030e5959659622cb7eb50aa20ee52,0x01949723055a451229c7ba3a817937c966748f76,2
1,0x00000000000030e5959659622cb7eb50aa20ee52,0x058d79a4c6eb5b11d0248993ffa1faa168ddd3c0,4
2,0x00000000000030e5959659622cb7eb50aa20ee52,0x06b1655b9d560de112759b4f0bf57d6f005e72fe,2
3,0x00000000000030e5959659622cb7eb50aa20ee52,0x06bfac47528d0d6a2de3b1ae5d8214ad45b4b945,4
4,0x00000000000030e5959659622cb7eb50aa20ee52,0x0928592f80d63d474257a7b797120e301ba2d987,10
...,...,...,...
4224867,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xdf5972a355a7275a7edd9ae316dcacfa0ebb0c90,1
4224868,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xe22a8b0fd4bf0a25b2af2f9ae0dbd7c5600e84a0,1
4224869,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xf2c1d994e90d542de587ab91731cae80b393cd9b,2
4224870,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xf92c47757a69a6a0d917dbc6e1a21a8c7f436e37,1
4224871,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xed0d6452763a7753d60200a9f2dad3e3f8fc60c5,2

In [14]:
## lending

In [15]:
contract_inte = pd.read_parquet("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/prep_data/lending_events/contract_interaction")
volume = pd.read_parquet("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/prep_data/lending_events/volume")

In [30]:
contract_inte

,user,contract_address,count
0,0x978aad63fe35f7a72573c411c3dff53608aaeac9,0x5d3a536e4d6dbd6114cc1ead35777bab948e3643,5
1,0xdfdbc9fe64f3020b8440deb6c5db544a89aaaf04,0x39aa39c021dfbae8fac545936693ac917d5e7563,1
2,0xba07e5cb42ca05d2fc3d96514461d7245050eb7b,0x39aa39c021dfbae8fac545936693ac917d5e7563,1
3,0x50aeee21369e2a4d95eb8784da49645f927adf54,0xb3319f5d18bc0d84dd1b4825dcde5d5f7266d407,1
4,0xe6a6ee4196d361ec4f6d587c7ebe20c50667fb39,0x8e595470ed749b85c6f7669de83eae304c2ec68f,1
...,...,...,...
22964,0xd0000d82238adc78c8ce213a30f3ae32de7b000d,0x1b3e95e8ecf7a7cab6c4de1b344f94865abd12d5,5
22965,0x4a10b1e56109ecebd9e3d823bf47e7e88ebf3cae,0x2409af0251dcb89ee3dee572629291f9b087c668,13
22966,0x2b384212edc04ae8bb41738d05ba20e33277bf33,0x158079ee67fce2f58472a96584a73c7ab9ac95c1,2
22967,0x9e6e344f94305d36ea59912b0911fe2c9149ed3e,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,1
22968,0xd0000d82238adc78c8ce213a30f3ae32de7b000d,0x3c9f5385c288ce438ed55620938a4b967c080101,1

In [22]:
volume = volume.rename(columns={"total_amount":"amount","reserve":"asset"})

In [18]:
volume['id'] = '0x1_'+volume['user']

In [23]:
volume

,user,event_type,asset,amount,volume_type,id
0,0xbf83e6e40162c655f2ded3431b7b31307275ac95,LIQUIDATE,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,80.997391,receiving,0x1_0xbf83e6e40162c655f2ded3431b7b31307275ac95
1,0x9b4e28020b94b28f9f09ede87f588e89c283cffd,LIQUIDATE,0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5,73.998979,receiving,0x1_0x9b4e28020b94b28f9f09ede87f588e89c283cffd
2,0xcfc50541c3deaf725ce738ef87ace2ad778ba0c5,LIQUIDATE,0x6c8c6b02e7b2be14d4fa6022dfd6d75921d90e4e,32440.668487,receiving,0x1_0xcfc50541c3deaf725ce738ef87ace2ad778ba0c5
3,0x9b4e28020b94b28f9f09ede87f588e89c283cffd,LIQUIDATE,0xf5dce57282a584d2746faf1593d3121fcac444dc,7025.338270,receiving,0x1_0x9b4e28020b94b28f9f09ede87f588e89c283cffd
4,0x4654f56a64301b9b582f843f97332d96ead11ff8,LIQUIDATE,0xf5dce57282a584d2746faf1593d3121fcac444dc,142524.568067,receiving,0x1_0x4654f56a64301b9b582f843f97332d96ead11ff8
...,...,...,...,...,...,...
55987,0xb78e539fa19eab29114ebb5c40230b95e11399f4,DEPOSIT,0x2260fac5e5542a773aa44fbcfedf7c193bc2c599,25.061145,sending,0x1_0xb78e539fa19eab29114ebb5c40230b95e11399f4
55988,0x7136fbddd4dffa2369a9283b6e90a040318011ca,DEPOSIT,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.399914,sending,0x1_0x7136fbddd4dffa2369a9283b6e90a040318011ca
55989,0x61503ad92e94ca295926854b35dfced55797f5a1,DEPOSIT,0x8798249c2e607446efb7ad49ec89dd1865ff4272,462452.904453,sending,0x1_0x61503ad92e94ca295926854b35dfced55797f5a1
55990,0x14559df3fbe66cab6f893d8dd53f7bfe68de9c65,DEPOSIT,0x2260fac5e5542a773aa44fbcfedf7c193bc2c599,4.001170,sending,0x1_0x14559df3fbe66cab6f893d8dd53f7bfe68de9c65
55991,0xb6d64d2df0f5943a686de38cf3611986041a7494,DEPOSIT,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,6000.000000,sending,0x1_0xb6d64d2df0f5943a686de38cf3611986041a7494

In [11]:
transfer_info

,id,user,asset,amount,event_type,volume_type
0,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x42476f744292107e34519f9c357927074ea3f75d,4271.000000,TRANSFER_EVENT,sending
1,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x36c748cbab4da84aaadf93da696ae0c02cb4be4f,1.400000,TRANSFER_EVENT,receiving
2,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x42476f744292107e34519f9c357927074ea3f75d,4271.000000,TRANSFER_EVENT,receiving
3,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0x65281b6d0402095d66f531268b4662524040fdfc,826.150000,TRANSFER_EVENT,receiving
4,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,0xa3e4b28bcc63e549886d642b2bf77ebbdfaba91b,1.400000,TRANSFER_EVENT,receiving
...,...,...,...,...,...,...
1383425,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,0x3845badade8e6dff049820680d1f14bd3903a5d0,132.219279,TRANSFER_EVENT,sending
1383426,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,0xd1d2eb1b1e90b638588728b4130137d262c87cae,544.936199,TRANSFER_EVENT,sending
1383427,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c,61.582279,TRANSFER_EVENT,sending
1383428,0x1_0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0x3845badade8e6dff049820680d1f14bd3903a5d0,600.000000,TRANSFER_EVENT,sending
1383429,0x1_0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0x4d224452801aced8b2f0aebe155379bb5d594381,306.802425,TRANSFER_EVENT,sending

In [24]:
user_info = pd.concat([volume, transfer_info])

In [28]:
user_info.drop_duplicates().to_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/submit_data/user_info.csv")

In [31]:
contract_inte.drop_duplicates().to_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/submit_data/contract_interact.csv")

In [33]:
transfer_fre

,id,user,block_timestamp_list
0,0x1_0x00000000000030e5959659622cb7eb50aa20ee52,0x00000000000030e5959659622cb7eb50aa20ee52,"[1695265151, 1694437151, 1694447951, 169444929..."
1,0x1_0x00000000000124d994209fbb955e0217b5c2eca1,0x00000000000124d994209fbb955e0217b5c2eca1,"[1693617395, 1697677991, 1694439443, 169444322..."
2,0x1_0x000000000002e33d9a86567c6dfe6d92f6777d1e,0x000000000002e33d9a86567c6dfe6d92f6777d1e,"[1700304239, 1700304059, 1695373895, 1694325275]"
3,0x1_0x000000000004d7463d0f9c77383600bc82d612f5,0x000000000004d7463d0f9c77383600bc82d612f5,"[1694234855, 1694401259]"
4,0x1_0x00000000001adc2c0b202d0f72ad9d50f0675296,0x00000000001adc2c0b202d0f72ad9d50f0675296,[1693891727]
...,...,...,...
146446,0x1_0xffeb7f611e9651be6e72c889cd94e65a1f8752a8,0xffeb7f611e9651be6e72c889cd94e65a1f8752a8,"[1694217383, 1699764035]"
146447,0x1_0xfff6db7d82ac4ed12ebb7f017bdd87cd86d447b6,0xfff6db7d82ac4ed12ebb7f017bdd87cd86d447b6,[1697394611]
146448,0x1_0xfffc6737308178ed98350d702059ba8c5fa09c03,0xfffc6737308178ed98350d702059ba8c5fa09c03,"[1694710571, 1694710667, 1694735507, 169473580..."
146449,0x1_0xffff70405d31ee046aa06752c829a55c15b3e512,0xffff70405d31ee046aa06752c829a55c15b3e512,"[1698183323, 1698183455, 1698183575, 169818363..."
146450,0x1_0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,"[1699552439, 1699553771]"

In [34]:
transfer_fre.to_csv('/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/submit_data/user_frequency.csv')

In [35]:
transfer_interact.to_csv('/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/submit_data/uses_interact.csv')

In [37]:
transfer_interact.drop_duplicates()

,user,other_user,count
0,0x00000000000030e5959659622cb7eb50aa20ee52,0x01949723055a451229c7ba3a817937c966748f76,2
1,0x00000000000030e5959659622cb7eb50aa20ee52,0x058d79a4c6eb5b11d0248993ffa1faa168ddd3c0,4
2,0x00000000000030e5959659622cb7eb50aa20ee52,0x06b1655b9d560de112759b4f0bf57d6f005e72fe,2
3,0x00000000000030e5959659622cb7eb50aa20ee52,0x06bfac47528d0d6a2de3b1ae5d8214ad45b4b945,4
4,0x00000000000030e5959659622cb7eb50aa20ee52,0x0928592f80d63d474257a7b797120e301ba2d987,10
...,...,...,...
4224867,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xdf5972a355a7275a7edd9ae316dcacfa0ebb0c90,1
4224868,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xe22a8b0fd4bf0a25b2af2f9ae0dbd7c5600e84a0,1
4224869,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xf2c1d994e90d542de587ab91731cae80b393cd9b,2
4224870,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,0xf92c47757a69a6a0d917dbc6e1a21a8c7f436e37,1
4224871,0xffffffffa266deb669f5c84b6b75ee82d05d3f96,0xed0d6452763a7753d60200a9f2dad3e3f8fc60c5,2

In [38]:
transfer_interact.shape

(4224872, 3)